
@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoodsIndex</title>
    @*<script src="~/js_css/jquery-1.7.js"></script>*@
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/js_css/jquery.tmpl.js"></script>

    <script src="~/X-admin-2.2/lib/layui/layui.all.js"></script>
    <script src="~/X-admin-2.2/lib/layui/layui.js"></script>
    <style>
        img {
            width: 150px;
            height: 150px;
        }

        tr,td {
            vertical-align: middle !important
        }
    </style>
</head>
<body>
    <div>
        <div class="" style="margin-left:30px;margin-top:30px">
            <div style="margin-left:70%">
                <div class="layui-input-inline">
                    <input id="Text1" type="text" class="layui-input" placeholder="请输入商品名称" />
                </div>

                <button class="layui-btn" id="Button1" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>

                <button class="layui-btn" data-toggle="modal" data-target="#myModal">添加商品</button>
            </div>

            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">添加</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <input id="Text1" type="text" class="form-control" placeholder="商品名称" />
                                <select id="Select1" class="form-control" required>
                                    <option value="0">请选择</option>
                                </select>
                                <input id="Text2" type="text" class="form-control" placeholder="进价" />
                                <input id="Text3" type="text" class="form-control" placeholder="销售价" />
                                <input id="File1" type="file" />
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="but">提交更改</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

            <table id="listTB" class="table table-hover" style="font-size:20px">
                <tr>
                    <th>编号</th>
                    <th>商品类别</th>
                    <th>图片</th>
                    <th>商品名</th>
                    <th>进货价格</th>
                    <th>销售价格</th>
                    <th>当前商品状态</th>
                    <th>操作</th>
                </tr>
            </table>
            <div class="pagebox" style="height:30px;" id="box"></div>

            <script id="scrID" type="text/x-jquery-tmpl">
                {{each  Data}}
                <tr>
                    <td>${Goods.GoodsId}</td>
                    <td>${GoodsType.GoodsTypeName}</td>
                    <td><img src='${Goods.GoodsImg}' /></td>
                    <td>${Goods.GoodsName}</td>
                    <td>${Goods.EnterPrice}</td>
                    <td>${Goods.SellPrice}</td>
                    @*删除需要先删除销售记录*@
                    <td>
                        ${Goods.GoodsState==1?"商品已正常":"商品已售罄"}
                    </td>
                    <td>
                        {{if Goods.GoodsState==1}}

                        <a href="#" id="delete" GoodsId='${Goods.GoodsId}' class="layui-btn layui-btn-sm"><i class="layui-icon"></i>下架</a>
                        {{/if}}
                        {{if Goods.GoodsState==2}}
                        <a href="#" id="delete" GoodsId='${Goods.GoodsId}' class="layui-btn layui-btn-sm"><i class="layui-icon"></i>上架</a>
                        {{/if}}
                        <a href="#" id="update" class="layui-btn layui-btn-primary layui-btn-sm" GoodsId='${Goods.GoodsId}' GoodsTypeName='${GoodsType.GoodsTypeId}' GoodsImg='${Goods.GoodsImg}' GoodsName='${Goods.GoodsName}'
                           SellPrice='${Goods.SellPrice}' EnterPrice='${Goods.EnterPrice}' GoodsState='${Goods.GoodsState}'><i class="layui-icon"></i>修改</a>
                    </td>
                </tr>
                {{/each}}

            </script>

        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabe2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">修改</h4>
                    </div>
                    <div class="modal-body" id="motai">
                        <form>
                            <input id="upId" type="text" class="form-control" placeholder="商品编号" />
                            <input id="upName" type="text" class="form-control" placeholder="商品名称" />
                            <select id="upGoodsTypeId" class="form-control" required></select>
                            <input id="upEnterPrice" type="text" class="form-control" placeholder="进价" />
                            <input id="upSellPrice" type="text" class="form-control" placeholder="销售价" />
                            <input id="Radio1" type="radio" name="red" />上架
                            <input id="Radio2" type="radio" name="red" />下架
                            <img id="upimg" src="" />
                            <input id="File2" type="file" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="UpBut">提交更改</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>

    <script>
        $(function () {

            //修改    数据读取赋值
            $("#listTB").on("click", "#update", function () {
                $('#myModa2').modal('show')
                $("#upId").val($(this).attr("GoodsId"));
                $('#upId').attr("readonly", "readonly")
                $("#upName").val($(this).attr("GoodsName"));
                //商品类别
                var select = $(this).attr("GoodsTypeName");
                $("#upGoodsTypeId").val(select);
                $("#upEnterPrice").val($(this).attr("EnterPrice"));
                $("#upSellPrice").val($(this).attr("SellPrice"));
                var GoodsState = $(this).attr("GoodsState");
                if (GoodsState == 1) {
                    $("#Radio1").attr("checked", true);
                } else {
                    $("#Radio2").attr("checked", true);
                }
                var img = $(this).attr("GoodsImg");
                $("#upimg").attr('src', img);
            })
            //执行修改
            $("#UpBut").click(function () {
                var Radio;
                if ($("#Radio1").is(":checked")) {
                    Radio = 1;
                }
                else {
                    Radio = 2;
                }
                var upGoodsTypeId = $("#upGoodsTypeId").val();
                var upId = $("#upId").val();
                var upName = $("#upName").val();
                var upEnterPrice = $("#upEnterPrice").val();
                var upSellPrice = $("#upSellPrice").val()
                $.ajax({
                    url: "/Goods/GoodsUpdate",
                    type: "post",
                    dataType: "json",
                    data: {
                        GoodsId: upId,
                        GoodsName: upName,
                        //获取下拉框值
                        GoodsTypeId: upGoodsTypeId,
                        EnterPrice: upEnterPrice,
                        SellPrice: upSellPrice,
                        //上下架选中处理
                        GoodsState: Radio,
                        GoodsImg: $("#upimg").attr("src"),
                    },
                    success: function (result) {
                        console.log(result)
                        if (result > 0) {
                            layer.msg('已修改成功!', {
                                icon: 1,
                                time: 1000
                            });

                        } else {
                            layer.msg('请重新尝试修改!', {
                                icon: 2,
                                time: 1000
                            });
                        }
                        $('#myModa2').modal('hide')
                        select();
                    },
                    error: function (result) {
                        alert(result);
                    }
                })
            })

            //下架
            $("#listTB").on("click", "#delete", function () {
                var id = $(this).attr("GoodsId");
                $.ajax({
                    url: "/Goods/GoodsDelete",
                    data: { id: id },
                    type: "post",
                    dataType: "json",
                    success: function (result) {
                        if (result > 0) {
                            layer.msg('已下架成功!', {
                                icon: 1,
                                time: 1000
                            });

                        } else {
                            layer.msg('请重新尝试下架!', {
                                icon: 2,
                                time: 1000
                            });
                        }
                        select();
                    }
                })
            })
            //上架
            $("#listTB").on("click", "#delete", function () {
                var id = $(this).attr("GoodsId");
                $.ajax({
                    url: "/Goods/GoodsState",
                    data: { id: id },
                    type: "post",
                    dataType: "json",
                    success: function (result) {
                        if (result > 0) {
                            layer.msg('已上架!', {
                                icon: 1,
                                time: 1000
                            });

                        } else {
                            layer.msg('请重新尝试上架!', {
                                icon: 2,
                                time: 1000
                            });
                        }
                        select();
                    }
                })
            })

            //调用查询渲染数据
            select();
            //渲染下拉框
            $.ajax({
                url: "/Goods/GoodsTypeList",
                data: {},
                type: "post",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    for (var i = 0; i < result.length; i++) {
                        //alert(result[i].GoodsTypeName);
                        var str = "  <option value=" + result[i].GoodsTypeId + ">" + result[i].GoodsTypeName + "</option>"
                        $("#Select1").append(str);
                        $("#upGoodsTypeId").append(str);
                    }
                }
            })

            ///添加操作
            $("#but").click(function () {

                //获取
                var name = $("#Text1").val();
                var jinjia = $("#Text2").val();
                var shoujia = $("#Text3").val();
                var img = $("#File1").val();
                var Select = $("#Select1").val();
                $.ajax({
                    url: "/Goods/GoodsInsert",
                    data: {
                        name: name,
                        jinjia: jinjia,
                        shoujia: shoujia,
                        img: img,
                        Select: Select
                    },
                    type: "post",
                    dataType: "json",
                    success: function (result) {
                        if (result > 0) {
                            layer.msg('已填加!', {
                                icon: 1,
                                time: 1000
                            });
                            $('#myModal').modal('hide')
                            select();
                        } else {
                            alert(result);
                        }
                    }
                })

            })
            //搜索
            $("#Button1").click(function () {
                select();
            })
            //读取数据
            function select() {
                //渲染数据
                $.ajax({
                    url: "/Goods/select",
                    data: { name: $("#Text1").val() },
                    type: "post",
                    dataType: "json",
                    success: function (result) {
                        //alert(result.Data);
                        $("#listTB tr:gt(0)").remove();
                        $("#scrID").tmpl(result).appendTo("#listTB");
                        console.log(result)
                        //var json = JSON.parse(result.Data);
                        //console.log(json["Data"][0]["GoodsType"].GoodsTypeName);
                        //for (var i = 0; i < json["Data"].length; i++) {
                        //    //alert(json["Data"][i]["GoodsType"].GoodsTypeName);
                        //    $("#listTB").append("<tr><td>" + json["Data"][i]["Goods"].GoodsId + "</td><td>"

                        //        + json["Data"][i]["Goods"].GoodsName + "</td><td>"
                        //        + json["Data"][i]["GoodsType"].GoodsTypeName + "</td><td>"
                        //        + json["Data"][i]["Goods"].SellPrice + "</td></tr>");
                        //}
                    }

                })
            }

        })
    </script>

</body>
</html>
