
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/js_css/jquery-1.7.js"></script>
    <script src="~/js_css/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <link href="~/js_css/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body style="background: url('../../images/123456.jpg') no-repeat ; background-size:100%">
    <center>
        <div style="text-align:center;width:200px;margin-top:300px">
            <input id="name" type="text" class="form-control"  placeholder="用户名"/>
            <br />
            <input id="pwd" type="password" class="form-control"  placeholder="密码"/>
            <br />
            <input id="btn" type="button" value="登录" class="btn btn-default" />
        </div>
    </center>
    <script>
            $(document).ready(function () {
                $("#btn").on("click", function () {
                    var name = $("#name").val();
                    var pwd = $("#pwd").val();
                    //ajax
                    $.ajax({
                        url: "/Login/LoginIn",
                        type: "post",
                        dateType: "json",
                        data: { "name": name, "pwd": pwd },
                        success: function (json) {
                            if (json.state == 200) {
                                window.location.href = "/Home/Index";
                            } else {
                                alert(json.state);
                            }
                        }
                    })
                })
            })
    </script>
</body>
</html>
