
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #wrap {
            margin: 10px auto;
            width: 801px;
            overflow: hidden;
        }

            #wrap h1 {
                margin: 20px 0;
                text-align: center;
                color: #006393;
            }
        /* 1 */
        .item1 img {
            vertical-align: top;
        }

        .item1 li {
            position: relative;
            float: left;
            margin-right: 3px;
            width: 157px;
            height: 203px;
            overflow: hidden;
            cursor: pointer;
        }

        .item1 div {
            position: absolute;
            left: 0;
            top: 120px;
            width: 100%;
            height: 50px;
            text-align: center;

            /*background: url(images/demo02.png) no-repeat;*/
            
            /*opacity: 0.8;*/
            background-color: transparent;
            color: #FFF;
            overflow: hidden;
        }

        .item1 p {
            display: none;
            margin: 5px auto 0;
            width: 135px;
            line-height: 20px;
            text-align: left;
            text-indent: 2em;
            font-size: 12px;
        }

        .item1 h3 {
            margin: 11px 0;
            height: 25px;
            text-indent: -10000px;
            background: url(images/demo03.png) no-repeat 0 -8px;
        }



    </style>
    <script src="~/js_css/jquery-1.7.js"></script>
    <script type="text/javascript">
        /* 1 */
        $(function () {
            $(".item1 li").hover(
                function () {
                    var that = this;
                    item1Timer = setTimeout(function () {
                        $(that).find("div").animate({ "top": 0, "height": 204 }, 300, function () {
                            $(that).find("p").fadeIn(200);
                        });
                    }, 100);
                },
                function () {
                    var that = this;
                    clearTimeout(item1Timer);
                    $(that).find("p").fadeOut(200);
                    $(that).find("div").animate({ "top": 120, "height": 50 }, 300);
                }
            )
        });

    </script>
</head>
<body>

    <!-- 第一个demo -->
    <div id="wrap">
        <h1>饮料</h1>
        <ul class="item1">
            <li>
                <img src="/images/Food/kele.jpg" width="157" height="203" />
                <div>
                    <h3>自助下单</h3>
                    <p>自助下单自助下单自助下单自助下单自助下单自助下单自助下单自助下单自助下单自助下单自助下单自助下单</p>
                </div>
            </li>
        </ul>
    </div>
   
</body>
</html>
